body {
    font-family: "Josefin sans";
}

.colorful-bar {
    background-color: #404f69 ;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 4%;
}

.titre-bar {
    color: #F2D6AE;
    margin-left:25%;
    text-align:center;
    flex-grow:1 ;
    font-size: 50px;
    padding: 5%;
}

.cercle {
    border-radius: 100%; /* Pour un cercle parfait */
    width: 210px; /* Ajuste la largeur */
    height: 210px; /* Ajuste la hauteur pour l'ovale */
        /*margin-right: 250px; /* Ajuste la marge à gauche */
    object-fit: cover;
    border: 2px solid pink;
    margin-right: 20%;
}

main {
    padding: 20px; /* Espacement intérieur du contenu principal */
    min-height: 700px; /* Assure un minimum de hauteur pour le contenu */
    background-color: #F2D6AE;
}





footer {

    display: flex; /* Utilise Flexbox pour le footer */
    justify-content: center; /* Centre les éléments du footer */
    align-items: center; /* Centre verticalement */
    background-color: #404f69;
    padding: 40px;

}



.Copyright-logos {
    display: flex; /* Utilise Flexbox pour l'alignement */
    align-items: center; /* Centre verticalement les éléments */
    list-style-type: none; /* Supprime les puces de la liste */
    padding: 0; /* Supprime le padding par défaut */
    margin: 0; /* Supprime la marge par défaut */
    gap: 5px; /* Espace entre les logos */
}

.Copyright-logos li {
    margin-left: 10px; /* Espace entre les logos */
    display: flex; /* Utilise Flexbox pour l'alignement */
    align-items: center; /* Centre verticalement les éléments */
}

.Copyright-logos li img {
    width: 40px; /* Ajustez cette valeur selon vos besoins */
    height: auto; /* Maintient le ratio d'aspect */
    max-width: 100%; /* Empêche l'image de dépasser son conteneur */
    gap: 1%;
    align-items: center;
}


.copyright {
    
    margin-right: 250px;
    color: #F2D6AE;
   
}


.newsletter {
    text-align: center;
    margin: 20px 0;
    color: #F2D6AE;
    text-decoration: none;
}

.quote {
    text-align: center;
    font-style:italic;
    color: #F2D6AE;
    text-decoration: none;
}

a {
    text-decoration: none; /* Supprime le soulignement */
    color: #F2D6AE; /* Couleur personnalisée */
}

a:visited {
    text-decoration: none; /* Supprime le soulignement pour les liens visités */
}
