/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.carousel {
    width: 510px;
    height: 254px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 50px;
}
.slides {
    display: flex;
    width: calc(510px * 7);
    height: 100%;
    animation: slide 21s infinite;
}
.slides img {
    width: 510px;
    height: 254px;
    flex-shrink: 0;

@keyframes slide {
    0% { transform: translateX(0); }
    14.28% { transform: translateX(-510px); }
    28.57% { transform: translateX(-1020px); }
    42.85% { transform: translateX(-1523px); }
    57.14% { transform: translateX(-2040px); }
    71.42% { transform: translateX(-2550px); }
    85.71% { transform: translateX(-3060px); }
    100% { transform: translateX(-3570px); }
}
.carousel:hover .slides {
    animation-play-state: paused;
}