/* Style global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin sans', sans-serif;
    background-color: #F3E2C7;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding-top: 50px;
}

.layout {
    max-width: 800px;
    background-color: #404F69;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    line-height: 1.6;
    color: #F2D6AE;
}

h2 {
    color: #404F69;
    font-weight: bold;
    text-align: center;
}

.carousel {
    width: 510px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slides {
    display: flex;
    transition: transform 1s ease;
    will-change: transform;
}

.slides img {
    width: 510px;
    height: 300px;
    flex-shrink: 0;
}

.carousel:hover .slides {
    animation-play-state: paused;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.carousel-nav button {
    background-color: rgba(255, 255, 255, 0.6);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.carousel-nav button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

/* Animation de glissement */
@keyframes slide {
    0%, 100% { transform: translateX(0); }
    20% { transform: translateX(-510px); }
    40% { transform: translateX(-1020px); }
    60% { transform: translateX(-1530px); }
    80% { transform: translateX(-2040px); }
}

.carousel:hover .slides {
    animation-play-state: paused;
}

.info-box {
    background-color: #4A90E2; /* Bleu pour les boîtes */
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 0.9em;
}

.info-box img {
    max-width: 100%;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
}

.info-box h3 {
    text-align: center;
    margin-bottom: 10px;
    color: #fff;
}

.info-box p {
    text-align: center;
    font-weight: 400;
}